<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">
  <div>
    <p>No data?</p>
  </div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>